<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uniroomf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_uniroom"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_uniroom"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniroomF"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".prenotazStudActivity"
            android:label="@string/title_activity_prenotaz_stud"
            android:theme="@style/Theme.UniroomF.NoActionBar">
        </activity>
        <activity
            android:name=".acivityImpostazioni"
            android:label="@string/title_activity_acivity_impostazioni" />
        <activity android:name=".menuPrincActivity" />
        <activity android:name=".logActivity" /> <!-- declaring regActivity -->
        <activity android:name=".regActivity" /> <!-- declaring main activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity> <!-- roba splash screen -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- fine roba splash screen -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>